<h3>please enter your email</h3>
<p>we will send you an email so you can reset your password</p>
<form action="/api/sessions/forgotPassword" method="post">
  <input type="email" name="email" placeholder="email" />
  <button type="submit" class="btnAdd">submit</button>
  <a href="/">go to login</a>
  <a href="/register">go to register</a>
</form>
<p>{{msg}}</p>