<h1>login</h1>
<form action="/api/sessions/login" method="post">
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <button type="submit" class="btnAdd">login</button>
  <a href='/api/sessions/github'>login with github</a>
  <a href="/register">dont have an account? Register</a>
</form>