<h1>login</h1>
<p>please place a valid email so you get our purchase ticket to your email</p>
<form action="/api/sessions/login" method="post">
  <input type="email" name="email" placeholder="email" required/>
  <input type="password" name="password" placeholder="password" required />
  <button type="submit" class="btnAdd">login</button>
  <a href="/forgot-password">forgot password</a>
  <a href='/api/sessions/github'>login with github</a>
  <a href="/register">dont have an account? Register</a>
</form>