<h1>register</h1>
<form action="/api/sessions/register" method="post">
  <input type="text" name="firstName" placeholder="first name"/>
  <input type="text" name="lastName" placeholder="last name" />
  <input type="number" name="age" placeholder="age" max="99" />
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <button type="submit" class="btnAdd">register</button>
  <a href="/">I already have an account, login</a>
</form>