<h1>register</h1>
<form method="post">
  <input type="text" name="userName" placeholder="user" />
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password" />
  <button type="submit" class="btnAdd">register</button>
</form>