<div class="formResetPassword">
<div class='container'>
  <h3>RESET PASSWORD</h3>
  <form class='row g-3' id='formResetPassword' method='post' onsubmit='validateForm(event)'>
    <div class='col-md-6'>
      <label for='email' class='form-label'>E-mail</label>
      <input value='{{email}}' type='email' name='email' class='form-control' readonly />
    </div>
    <div class='col-md-6'>
      <label for='code' class='form-label'>Code</label>
      <input value='{{code}}' type='token' name='code' class='form-control' readonly />
    </div>
    <div class='col-md-6'>
      <label for='password' class='form-label'>New Password</label>
      <input class='form-control' type='password' name='password' id='newPass' required />
    </div>
    <div class='col-md-6'>
      <label for='confirmPassword' class='form-label'>Confirm Password</label>
      <input class='form-control' name='confirmPassword' type='password' id='confirmPass' required />
    </div>
    <div class='col-md-12'>
      <button type='submit' class='btn btn-primary'>Submit</button>
      <a href='/'>go to login</a>
      <a href='/register'>go to register</a>
    </div>
    
  </form>
</div>
</div>
{{!-- <div class='container mt-5'>

  <form class='row g-3' id='formResetPassword' method='post' onsubmit='validateForm(event)'>
    <div class='col-md-6'>
      <label for='email' class='form-label'>E-mail</label>
      <input value='{{email}}' type='email' name='email' class='form-control' readonly />
    </div>
    <div class='col-md-6'>
      <label for='code' class='form-label'>Code</label>
      <input value='{{code}}' type='token' name='code' class='form-control' readonly />
    </div>
    <div class='col-md-6'>
      <label for='password' class='form-label'>New Password</label>
      <input class='form-control' type='password' name='password' id='newPass' required />
    </div>
    <div class='col-md-6'>
      <label for='confirmPassword' class='form-label'>Confirm Password</label>
      <input class='form-control' name='confirmPassword' type='password' id='confirmPass' required />
    </div>
    <div class='col-md-12'>
      <label for='comments' class='form-label'>Comments, questions?</label>
      <textarea class='form-control' id='comments' rows='3'></textarea>
    </div>
    <div class='col-md-12'>
      <button type='submit' class='btn btn-primary'>Submit</button>
    </div>
    <a href='/'>go to login</a>
    <a href='/register'>go to register</a>
  </form>
</div> --}}